.navDesktop {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.navMobile {
  display: none;
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navDesktop .navListItem:not(:first-of-type) {
  margin-left: 2rem;
}

.navLink {
  font-family: var(--fontDisplay);
  padding: 0.5rem;
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.navLink:hover {
  box-shadow: 0 4px 0 var(--colorDark);
}

.navLink.active {
  box-shadow: 0 4px 0 var(--colorSecondary);
  color: var(--colorSecondary);
}

/* Tablet and smaller */
@media screen and (max-width: 767px) {
  .navDesktop {
    display: none;
  }

  .navMobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .navMenuIcon {
    cursor: pointer;
  }

  .navMenuScreen {
    align-items: center;
    background-color: var(--colorPrimary);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navCloseIcon {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
  }

  .navList {
    align-items: center;
    flex-direction: column;
  }

  .navListItem:not(:first-of-type) {
    margin-left: 0;
    margin-top: 2rem;
  }
}
