.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navListItem:not(:first-of-type) {
  margin-left: 2rem;
}

.navLink {
  font-family: 'Ultra', serif;
  padding: 0.5rem;
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.navLink:hover {
  box-shadow: 0 4px 0 var(--colorDark);
}

.navLink.active {
  box-shadow: 0 4px 0 var(--colorSecondary);
  color: var(--colorSecondary);
}

.navMenuMobile {
  display: none;
}

/* Tablet and smaller */
@media screen and (max-width: 767px) {
  .navList {
    display: none;
  }

  .navMenuMobile {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .navMenuIcon {
    cursor: pointer;
  }

  .navListMobileWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--colorPrimary);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navCloseIcon {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .navListMobile {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    align-items: center;
    flex-direction: column;
  }

  .navListItem:not(:first-of-type) {
    margin-left: 0;
    margin-top: 2rem;
  }
}
