:root {
  --colorPrimary: rgb(250, 230, 130);
  --colorSecondary: rgb(210, 130, 250);
}

html,
body {
  background-color: var(--colorPrimary);
  color: #333;
  font-family: 'Ultra', serif;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
