/* Variables */
:root {
  /* Colors */
  --colorPrimary: rgb(250, 230, 130);
  --colorSecondary: rgb(210, 130, 250);
  --colorDark: #333;
  /* Fonts */
  --fontDisplay: 'Ultra', serif;
  --fontRegular: 'Roboto', sans-serif;
}

/* Elements */
* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--colorPrimary);
  color: var(--colorDark);
  font-family: var(--fontRegular);
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: var(--colorSecondary);
  font-family: var(--fontDisplay);
  font-weight: 400;
  margin: 0;
}

/* General */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  max-width: 300px;
  width: 100%;
}

.centered {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

.display-none {
  display: none;
}

/* Animations */
.slide-down {
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.zoom-in {
  animation: zoomIn 0.6s ease-out forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
