.home {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  font-family: 'Ultra', serif;
}

.logoTextPlain {
  color: var(--colorSecondary);
  font-size: clamp(4rem, 10vw, 8rem);
  line-height: clamp(4rem, 10vw, 8rem);
}

.logoTextGif {
  background: url('https://blog.intostudy.com/wp-content/uploads/2015/07/RoadTrip_GIF.gif');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  font-size: clamp(8rem, 20vw, 16rem);
  line-height: clamp(7rem, 18vw, 14rem);
  -webkit-text-stroke: 0.5rem var(--colorSecondary);
  -webkit-text-fill-color: transparent;
}
